<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ServletMenu</servlet-name>
        <servlet-class>control.ServMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>control.ServLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCliente</servlet-name>
        <servlet-class>control.ServCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServProveedor</servlet-name>
        <servlet-class>control.ServProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServProducto</servlet-name>
        <servlet-class>control.ServProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServVenta</servlet-name>
        <servlet-class>control.ServVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServReporte</servlet-name>
        <servlet-class>control.ServReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInventario</servlet-name>
        <servlet-class>control.ServInventario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCompra</servlet-name>
        <servlet-class>control.ServCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServProduccion</servlet-name>
        <servlet-class>control.ServProduccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletMenu</servlet-name>
        <url-pattern>/SMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/SLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServUsuario</servlet-name>
        <servlet-class>control.ServUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServUsuario</servlet-name>
        <url-pattern>/ServUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCliente</servlet-name>
        <url-pattern>/ServCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServProveedor</servlet-name>
        <url-pattern>/ServProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServProducto</servlet-name>
        <url-pattern>/ServProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServVenta</servlet-name>
        <url-pattern>/ServVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServReporte</servlet-name>
        <url-pattern>/ServReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInventario</servlet-name>
        <url-pattern>/ServInventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCompra</servlet-name>
        <url-pattern>/ServCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServProduccion</servlet-name>
        <url-pattern>/ServProduccion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
